body {
    color: lightgray;
    font-family: Helvetica, sans-serif;
    background-color: #2a2e2d;
    margin: 0px;
}

body a {
    text-decoration: none;
}

/* everything relating to body > header is below */

body > header {
    text-align: center;
}

#header-nav > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

#header-nav > ul > li > a {
    color: lightgrey;
    text-decoration: none;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 15%;
    margin-left: 30px;
    margin-right: 30px;
}

body > header > h2 {
    margin-top: 0px;
    margin-bottom: 16px;
}

body > header > hr {
    margin: 0px;
}

#logo {
    margin: 0px;
    font-family: "Cinzel", 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    text-shadow: -5px 5px 3px black;
    font-size: 6em;
}

/* everything relating to body > main is below */

body > main {
    display: grid;
    grid-template-areas:
        'aside blogposts'
    ;
    grid-template-columns: 1fr 5fr;
}

body > main > aside {
    grid-area: aside;
}

body > main > aside a {
    color: goldenrod;
    text-decoration: none;
}

#blog-posts-section {
    grid-area: blogposts;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(images/world_map_bg.png);
}

#blog-posts-section > article {
    padding: 10px;
    margin: 75px;
    background-color: #2a2e2d;
    font-size: 0.8em;
}

.blog-post > header {
    font-size: 2em;
    display: flex;
    align-items: center;
}

.blog-post > header > img {
    width: 64px;
    height: 64px;
    border-radius:20%;
    border: 5px solid darkgoldenrod;
    margin: 7px;
}

.blog-post > header > h2 {
    color: darkgoldenrod;
    margin: 10px;
}

.blog-post > main a {
    color: white;
}

.blog-post > footer {
    color: darkgoldenrod;
}

.article-author {
    font-size: 1.5em;
}

.article-author a {
    color: goldenrod;
    text-decoration: none;
}

.article-author img {
    box-sizing: content-box;
    height: 1.2em;
    border: 2px solid goldenrod;
    border-radius: 10%;
}

.image-with-caption {
    background-color: lightgrey;
    padding: 3px;
    margin: 4px;
    color: black;
    float: right;
    max-width: 30%;
}
.image-with-caption > img {
    width: 100%;
}
.image-with-caption > h5 {
    width: 100%;
    margin: 0px;
}

body > main > aside {
    margin: 5px;
}

aside h4 {
    margin: 0px;
    color: darkgoldenrod;
}

aside h2 {
    margin: 0px;
    margin-top: 50px;
    color: darkgoldenrod;
}

#aside-nav {
    margin: 10px;
}

#aside-nav ul {
    margin: 0px;
    list-style: none;
    padding-left: 20px;
}

#aside-nav ul > li {
    margin: 5px;
}

/* below is article specific formatting */

/* introduction */
#bp-introduction > main {
    display: grid;
    grid-template-areas:
        'intro-maintext intro-maintext'
        'intro-content-so-far intro-roadmap'
    ;
    grid-template-columns: 4fr 3fr;
}
#bp-introduction-introductory-paragraph {
    grid-area: intro-maintext;
}
#bp-introduction-content-so-far {
    grid-area: intro-content-so-far;
    margin: 10px;
}
#bp-introduction-roadmap {
    grid-area: intro-roadmap;
    margin: 10px;
}

/* britain region */
#british-area-map {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#british-area-map > h5 {
    margin-left: 4px;
}
#british-trade-map {
    max-width: 15%;
}
#british-culture-maps {
    float: right;
    display: grid;
    grid-template-areas:
        'britain-celtic-culture britain-english-culture'
        'britain-culture-caption britain-culture-caption'
    ;
    max-width: 30%;
}
#britain-culture-map-caption {
    grid-area: britain-culture-caption;
}
#british-celtic-culture-map {
    grid-area: britain-celtic-culture;
}
#british-english-culture-map {
    grid-area: britain-english-culture;
    place-self: center;
}

/* name disc */
#bp-mod-name-discussion form {
    background-color: lightgrey;
    color: black;
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-areas:
        'email-label email-input'
        'choose-label choose-input'
        'suggest-label suggest-input'
        'submit-button submit-button'
    ;
    grid-template-columns: 1fr 2fr;
}
#bp-mod-name-discussion form > input {
    margin: 2px;
}
#bp-mod-name-discussion form > select {
    margin: 2px;
}
#bp-mod-name-discussion form > textarea {
    margin: 2px;
    resize: none;
}
#bp-mod-name-discussion form > label {
    align-self: center;
}
#form-email-label {
    grid-area: email-label;
}
#form-email-input {
    grid-area: email-input;
}
#form-choose-name-label {
    grid-area: choose-label;
}
#form-choose-name-input {
    grid-area: choose-input;
}
#form-suggest-name-label {
    grid-area: suggest-label;
}
#form-suggest-name-input {
    grid-area: suggest-input;
}
#form-submit-button {
    grid-area: submit-button;
    place-self: center;
}

/* everything relating to body > footer is below */

body > footer h2 {
    color: darkgoldenrod;
    margin: 10px;
}

body > footer > p {
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

body > footer > p > a {
    color: white;
}

body > footer h4 {
    color: darkgoldenrod;
    margin: 10px;
    font-size: 0.8em;
    text-align: center;
}

body > footer > h4 > a {
    color: goldenrod;
}